<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/auth.css"/>
    <title>Login</title>
</head>
<body>
<div class="center">
    <h1>Login</h1>
    <form th:action="@{/login}"
          th:object="${loginRequest}"
          method="post">

        <!-- CSRF -->
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <div class="txt_field">
            <input type="text" th:field="*{username}"/>
            <span></span>
            <label>Username</label>
        </div>

        <div class="txt_field">
            <input type="password" th:field="*{password}"/>
            <span></span>
            <label>Password</label>
        </div>

        <input type="submit" value="Sign in"/>

        <div class="signup_link">
            Not a member?
            <a th:href="@{/signup}">Sign up</a>
        </div>

    </form>
</div>
</body>
</html>
