<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/register.css"/>
    <title>Registration</title>
</head>
<body>
<div class="center">
    <h1>Registration</h1>

    <!-- Общая ошибка -->
    <div class="red" th:if="${error}" th:text="${error}"></div>

    <!-- Форма регистрации -->
    <form th:action="@{/auth/signup}" th:object="${signupRequest}" method="post">
        <div class="txt_field">
            <input type="text" th:field="*{username}" />
            <span></span>
            <label>Username</label>
            <p class="red" th:errors="*{username}"></p>
        </div>

        <div class="txt_field">
            <input type="text" th:field="*{email}" />
            <span></span>
            <label>Email</label>
            <p class="red" th:errors="*{email}"></p>
        </div>

        <div class="txt_field">
            <input type="password" th:field="*{password}" />
            <span></span>
            <label>Password</label>
            <p class="red" th:errors="*{password}"></p>
        </div>

        <input type="submit" value="Sign up"/>
        <div class="signup_link">
            Already have an account? <a th:href="@{/auth/login}">Login</a>
        </div>
    </form>
</div>
</body>
</html>
