<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/register.css"/>
    <title>Login</title>
</head>
<body>
<div class="center">
    <h1>Login</h1>
    <div th:if="${param.error}" class="red">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="red">
        You have been logged out.
    </div>
    <form th:action="@{/auth/sign-in}" method="post">
        <div class="txt_field">
            <input type="text" name="username"/>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password"/>
            <span></span>
            <label>Password</label>
        </div>
        <input type="submit" value="Sign in"/>
        <div class="signup_link">Not a member? <a href="/auth/sign-up">Sign up</a></div>
    </form>
</div>
</body>
</html>