<!DOCTYPE html>
<html>
<head>
    <title>Add records</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>

<h1>How to use single plane balancing application</h1>
<ul>Fill in the fields in the table:
    <li>Mode is type of generator/motor load.</li>
    <li>Magnitude and phase of vibration is a value and a phase of
        vibration from peak to peak.
    </li>
    <li>Magnitude and phase of weight is a value and a phase of
        weight installed on the shaft.
    </li>
    <li>The reference number is a measurement number as a
        reference to the previous state of the machine.
    </li>
    <li>The state is an true/false switch. It is used to take into
        account in the averaging of values when calculating the total load.
    </li>
</ul>
<h2 th:text="'Station: ' + ${unit.station} +
             ', Unit number: ' + ${unit.unitnumber} +
             ', Type: ' + ${unit.type} +
             ', Plate: ' + ${unit.plate}"></h2>

<div class="divTable blueTable">

    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">id</div>
            <div class="divTableHead">Mode</div>
            <div class="divTableHead">Vibration <br> magnitude</div>
            <div class="divTableHead">Vibration <br> phase</div>
            <div class="divTableHead">Weight <br> magnitude</div>
            <div class="divTableHead">Weight <br> phase</div>
            <div class="divTableHead">Reference</div>
            <div class="divTableHead">State</div>
            <div class="divTableHead">Total weight<br>magnitude</div>
            <div class="divTableHead">Total weight<br>phase</div>
            <div class="divTableHead">Target weight<br>magnitude</div>
            <div class="divTableHead">Target weight<br>phase</div>
            <div class="divTableHead">Edit</div>
            <div class="divTableHead">Delete</div>
        </div>
    </div>

    <div class="divTableBody" th:each="record:${unit.records}">
        <div class="divTableRow">
            <div class="divTableCell" th:text=${record.id}></div>
            <div class="divTableCell" th:text=${record.mode}></div>
            <div class="divTableCell" th:text=${record.magvibration}></div>
            <div class="divTableCell" th:text=${record.phasevibration}></div>
            <div class="divTableCell" th:text=${record.magweight}></div>
            <div class="divTableCell" th:text=${record.phaseweight}></div>
            <div class="divTableCell" th:text=${record.reference}></div>
            <div class="divTableCell" th:text=${record.stage}></div>
            <div class="divTableCell" th:text=${record.magTotalWeight}></div>
            <div class="divTableCell" th:text=${record.phaseTotalWeight}></div>
            <div class="divTableCell" th:text=${record.magTargetWeight}></div>
            <div class="divTableCell" th:text=${record.phaseTargetWeight}></div>
            <div class="divTableCell">
                <form th:action="@{'/unit/' + ${unit.id} +
                '/record/edit/' + ${record.id}}"
                      th:method="get">
                    <input type="submit" value="edit"/>
                </form>
            </div>
            <div class="divTableCell">
                <form th:action="@{'/unit/' + ${unit.id} +
                '/record/delete/' + ${record.id}}"
                      th:method="post">
                    <input type="submit" value="delete"/>
                </form>
            </div>
        </div>
    </div>
    <div class="divTableBody">
        <form class="divTableRow"
              th:action="@{'/unit/' + ${unit.id} + '/record/create'}"
              method="post">
            <div class="divTableCell">&#10060;</div>
            <div class="divTableCell"><input type="text" name="mode"/></div>
            <div class="divTableCell"><input type="number" name="magvibration"/></div>
            <div class="divTableCell"><input type="number" name="phasevibration"/></div>
            <div class="divTableCell"><input type="number" name="magweight"/></div>
            <div class="divTableCell"><input type="number" name="phaseweight"/></div>
            <div class="divTableCell"><input type="number" name="reference"/></div>
            <div class="divTableCell"><input type="checkbox" name="stage"/></div>
            <div class="divTableCell"><input type="submit" value="Add record"/></div>
        </form>
    </div>
    <div class="divTableBody">
        <form class="divTableRow"
              th:action="@{'/unit/' + ${unit.id} + '/calculate'}"
              method="get">
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <div class="divTableCell"></div>
            <!--        <div class="divTableCell"><input type="submit" value="Calculate"/></div>-->
        </form>
    </div>
    <div th:if="${param.error}" class="red">
        Incorrect values
    </div>
</div>
</body>
</html>