<!DOCTYPE html>
<html>
<head>
    <title>Edit unit</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="divTable blueTable">

    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">id</div>
            <div class="divTableHead">Station</div>
            <div class="divTableHead">Unit<br>number</div>
            <div class="divTableHead">Type</div>
            <div class="divTableHead">Plate</div>
            <div class="divTableHead">Description</div>
        </div>
    </div>

    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell" th:text=${unit.id}></div>
            <div class="divTableCell" th:text=${unit.station}></div>
            <div class="divTableCell" th:text=${unit.unitnumber}></div>
            <div class="divTableCell" th:text=${unit.type}></div>
            <div class="divTableCell" th:text=${unit.plate}></div>
            <div class="divTableCell" th:text=${unit.description}></div>
            <div class="divTableCell"></div>
        </div>
    </div>

    <form class="divTableRow"
          th:action="@{'/unit/update/'+ ${unit.id}}"
          method="post">
        <div class="divTableCell">&#10060;</div>
        <div class="divTableCell"><input type="text"
                                         name="station"
                                         th:value="${unit.station}"/></div>
        <div class="divTableCell"><input type="number"
                                         name="unitnumber"
                                         th:value="${unit.unitnumber}"/></div>
        <div class="divTableCell"><input type="text"
                                         name="type"
                                         th:value="${unit.type}"/></div>
        <div class="divTableCell"><input type="number"
                                         name="plate"
                                         th:value="${unit.plate}"/></div>
        <div class="divTableCell"><input type = "text"
                                         name="description"
                                         th:value="${unit.description}"/></div>
        <div class="divTableCell"><input type="submit"
                                         value="Edit unit"/></div>
    </form>
</div>
</body>
</html>