<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1>User list</h1>
<div class="divTable blueTable">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">id</div>
            <div class="divTableHead">Login</div>
            <div class="divTableHead">Password</div>
            <div class="divTableHead">Roles</div>
            <div class="divTableHead">Edit</div>
            <div class="divTableHead">Delete</div>
        </div>
    </div>

    <div class="divTableBody" th:each="user:${users}">
        <div class="divTableRow">
            <div class="divTableCell" th:text=${user.id}></div>
            <div class="divTableCell" th:text=${user.login}></div>
            <div class="divTableCell" th:text=${user.password}></div>
            <div class="divTableCell" th:text=${user.role}></div>
            <div class="divTableCell">
                <form th:action="@{'/user/edit/' + ${user.id}}" th:method="get">
                    <input type="submit" value="edit"/>
                </form>
            </div>
            <div class="divTableCell">
                <form th:action="@{'/user/delete/' + ${user.id}}" th:method="post">
                    <input type="submit" value="delete"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>