<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Station list</title>
    <link rel="stylesheet" href="/css/div-base.css"/>
    <link rel="stylesheet" href="/css/div-stations.css"/>
    <script src="/js/edit/show.js"></script>
    <script src="/js/edit/cancel.js"></script>
    <script src="/js/station/create.js"></script>
    <script src="/js/station/update.js"></script>
    <script src="/js/station/remove.js"></script>
</head>

<body>
<div class="container">

    <!-- Greeting -->
    <div class="greeting-bar">
        <div></div>
        <div class="links-right">
            <a href="/user">Profile</a>
            <form action="/auth/logout" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>

    <!-- Station table -->
    <div class="station-table">

        <!-- header -->
        <div class="station-row station-header">
            <div>Station name</div>
            <div>Created</div>
            <div>Modified</div>
        </div>

        <th:block th:each="station:${stations}">

            <div th:data-id="${station.id}"
                 th:attr="onclick=|window.location.href='/station/${station.id}';|"
                 style="cursor: pointer;"
                 class="station-row">
                <div th:text=${station.name}></div>
                <div th:text="${#temporals.format(station.createdOn, 'dd.MM.yyyy')}"></div>
                <div th:text="${#temporals.format(station.updatedOn, 'dd.MM.yyyy')}"></div>
                <div>
                    <button th:onclick="|event.stopPropagation(); show(this);|">Edit</button>
                </div>
            </div>

            <!-- Edit station -->
            <div class="station-row edit-row">
                <div>
                    <input type="text" th:value="${station.name}">
                </div>
                <div>
                    <button onclick="update(this)">Save</button>
                    <button onclick="cancel(this)">Cancel</button>
                    <button onclick="remove(this)">Delete</button>
                </div>
            </div>

        </th:block>

        <!-- Add new station -->
        <div class="station-row new-row">
            <div>
                <input id="stationName" type="text" placeholder="Station name">
            </div>
            <div>
                <button onclick="create()">Add</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>
