<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Station list</title>
    <link rel="stylesheet" href="../../static/css/div-base.css"/>
    <link rel="stylesheet" href="../../static/css/div-stations.css"/>
    <script src="../../static/js/edit/show.js"></script>
    <script src="../../static/js/edit/cancel.js"></script>
    <script src="../../static/js/station/create.js"></script>
    <script src="../../static/js/station/update.js"></script>
    <script src="../../static/js/station/remove.js"></script>
</head>
<body>

<div class="container">

    <!-- Greeting -->
    <div class="greeting-bar">
        <div></div>
        <div class="links-right">
            <a href="/user">Profile</a>
            <form action="/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </div>

    <!-- Station table -->
    <div class="station-table">

        <!-- header -->
        <div class="station-row station-header">
            <div>Station name</div>
            <div>Created</div>
            <div>Modified</div>
        </div>

        <!-- Example station 1 row -->
        <div class="station-row">
            <div>Main Station</div>
            <div>2026-01-02</div>
            <div>2026-01-02</div>
            <div>
                <button onclick="show(this)">Edit</button>
            </div>
        </div>

        <div class="station-row edit-row">
            <div>
                <input type="text" value="Main Station">
            </div>
            <div>
                <button onclick="update(this)">Save</button>
                <button onclick="cancel(this)">Cancel</button>
                <button onclick="remove(this)">Delete</button>
            </div>
        </div>

        <!-- Example station 2 row -->
        <div class="station-row">
            <div>Secondary Station</div>
            <div>2026-01-01</div>
            <div>2026-01-02</div>
            <div>
                <button onclick="show(this)">Edit</button>
            </div>
        </div>

        <div class="station-row edit-row">
            <div>
                <input type="text" value="Secondary Station">
            </div>
            <div>
                <button onclick="update(this)">Save</button>
                <button onclick="cancel(this)">Cancel</button>
                <button onclick="remove(this)">Delete</button>
            </div>
        </div>

        <!-- Add new station -->
        <div class="station-row new-row">
            <div>
                <input id="stationName" type="text" placeholder="Station name">
            </div>
            <div>
                <button onclick="create()">Add</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>
