<!DOCTYPE html>
<html>
<head>
    <title>List records</title>
    <style>.hidden {display: none;}</style>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/tables.css"/>
    <style>.edit-row {display: none;}</style>
    <script src="/js/toggle.js"></script>
    <script src="/js/editrecordrow.js"></script>
</head>

<body>
<div class="container">
    <div class="box">
        <table class="greeting">
            <tr>
                <td>
                    <span class="inside" th:text="'Hello, '+${username}"></span>
                </td>
                <td>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="logout"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="box">
        <a href="#" onclick="toggleElement()">
            <span class="inside">To utilize the single plane balancing
                application, follow these steps</span>
        </a>
        <ul id="listToToggle" class="hidden">
            Fill in the fields within the table as follows:
            <li><b>Mode</b>: Specify the type of generator/motor load.</li>
            <li><b>Magnitude and Phase of Vibration</b>: Enter the amplitude
                and phase of vibration, measured from peak to peak.
            </li>
            <li><b>Magnitude and Phase of Weight</b>: Provide the magnitude
                and phase of the weight installed on the shaft
            </li>
            <li><b>Reference Number</b>: Assign a measurement number for reference
                to the machine's previous state.
            </li>
            <li><b>State</b>: Utilize a true/false switch. This is employed to determine
                whether to include the data in the averaging process when calculating
                the total load.
            </li>
        </ul>
        <span class="inside">
            <b>Station name</b>
            <span th:text="': '+${unit.station}+';&nbsp;'"></span>
            <b>&nbsp;unit number</b>
            <span th:text="': '+${unit.unitnumber}+';&nbsp;'"></span>
            <b>&nbsp;type</b>
            <span th:text="': '+${unit.type}+'&nbsp;'"></span>
            <a href="/unit">Go to unit list</a>
        </span>
    </div>

    <div class="box">
        <table class="bordered" th:switch="${units}">
            <!--            <h2 th:case="null">No records yet.</h2>-->
            <thead>
            <tr>
                <th colspan="9" style="text-align: center">
                    Real values
                </th>
                <th colspan="6" style="text-align: center">
                    Calculated values
                </th>
            </tr>
            </thead>

            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2" style="width: 70px">Mode</th>
                <th rowspan="2" style="width: 50px">Plane</th>
                <th colspan="2" style="text-align: center">Vibration</th>
                <th colspan="2" style="text-align: center">Weight</th>
                <th rowspan="2" style="width: 50px">Ref</th>
                <th rowspan="2">State</th>
                <th colspan="2" style="text-align: center">Total weight</th>
                <th colspan="2" style="text-align: center">Target weight</th>
                <th rowspan="2" colspan="2">Control</th>
            </tr>

            <tr>
                <th style="width: 70px">mag</th>
                <th style="width: 70px">phase</th>
                <th style="width: 70px">mag</th>
                <th style="width: 70px">phase</th>
                <th style="width: 70px">mag</th>
                <th style="width: 70px">phase</th>
                <th style="width: 70px">mag</th>
                <th style="width: 70px">phase</th>
            </tr>
            <tbody th:each="record:${unit.records}">
            <tr>
                <td th:text=${record.id}></td>
                <td th:text=${record.mode}></td>
                <td th:text=${record.plane}></td>
                <td th:text=${record.magvibration}></td>
                <td th:text=${record.phasevibration}></td>
                <td th:text=${record.magweight}></td>
                <td th:text=${record.phaseweight}></td>
                <td th:text=${record.reference}></td>
                <td th:text=${record.stage}></td>
                <td th:text=${record.magTotalWeight}></td>
                <td th:text=${record.phaseTotalWeight}></td>
                <td th:text=${record.magTargetWeight}></td>
                <td th:text=${record.phaseTargetWeight}></td>
                <td>
                    <button onclick="showEditRow(this); return false;">edit</button>
                </td>
                <td>
                    <form th:action="@{'/unit/' + ${unit.id} +
                '/record/delete/' + ${record.id}}" th:method="post">
                        <input type="submit" value="delete"/>
                    </form>
                </td>
            </tr>

            <tr class="edit-row">
                <form th:action="@{'/unit/'+${unit.id}+
                '/record/update/'+${record.id}}" method="post">
                    <td>&#10060;</td>
                    <td><input type="text" name="mode"
                               th:value="${record.mode}"/></td>
                    <td><input type="number"
                               name="plane"
                               th:value="${record.plane}"/></td>
                    <td><input class=decimal type="number"
                               name="magvibration"
                               th:value="${record.magvibration}"/></td>
                    <td><input class="decimal" type="number"
                               name="phasevibration"
                               th:value="${record.phasevibration}"/></td>
                    <td><input class="decimal" type="number"
                               name="magweight"
                               th:value="${record.magweight}"/></td>
                    <td><input class="decimal" type="number"
                               name="phaseweight"
                               th:value="${record.phaseweight}"/></td>
                    <td><input type="number"
                               name="reference"
                               th:value="${record.reference}"/></td>
                    <td><input type="checkbox"
                               name="stage"
                               th:checked="${record.stage}"/></td>
                    <td>
                        <button type="submit">Save</button>
                    </td>
                    <td colspan="5" style="text-align:left">
                        <button onclick="cancelEdit(this); return false;">
                            Cancel
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>

            <tr>
                <form th:action="@{'/unit/'+${unit.id}+'/record/create'}" method="post">
                    <td>&#10060;</td>
                    <td><input type="text" name="mode"/></td>
                    <td><input type="number" name="plane"/></td>
                    <td><input type="number" step="any" name="magvibration"/></td>
                    <td><input type="number" name="phasevibration"
                               min="-360" max="360" step ="1"/></td>
                    <td><input type="number" step="any" name="magweight"/></td>
                    <td><input type="number" name="phaseweight"
                               min="-360" max="360" step ="1"/></td>
                    <td><input type="number" name="reference"/></td>
                    <td><input type="checkbox" name="stage"/></td>
                    <td colspan="6" style="text-align:left">
                        <input type="submit" value="Add record"/>
                    </td>
                </form>
            </tr>

            <tr th:if="${param.error}" class="red">
                <h2>Incorrect values</h2>
            </tr>
        </table>
    </div>
</div>
</body>
</html>