body, html {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
}
.polar {
  height 400px;
  border: 1px solid green;
  max-width: 900px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.slider {
  height 400px;
  border: 1px solid green;
  display: flex;
  top: 50%;
  left: 50%;
  max-width: 900px;
  width: 100%;
}