<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Unit list</title>
    <link rel="stylesheet" href="/css/div-base.css"/>
    <link rel="stylesheet" href="/css/div-units.css"/>
    <script src="/js/edit/show.js"></script>
    <script src="/js/edit/cancel.js"></script>
    <script> const stationId = '[[${station.id}]]';</script>
<!--    <script src="/js/unit/create.js" defer></script>-->
    <script src="/js/unit/create.js"></script>
    <script src="/js/unit/update.js"></script>
    <script src="/js/unit/remove.js"></script>
</head>

<body>
<div class="container">

    <!-- Greeting -->
    <div class="greeting-bar">
        <div class="links-left">
            <a href="/stations">Stations</a>:
            <span th:text="${station.name}"></span>
        </div>
        <div class="links-right">
            <a href="/user">Profile</a>
            <form action="/auth/logout" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>

    <!-- Units grid -->
    <div class="units-grid">

        <!-- Header -->
        <div class="unit-row unit-header">
            <div class="rowspan-2">No.</div>
            <div class="rowspan-2">Type</div>

            <div class="colspan-2 text-center">Weight</div>
            <div class="colspan-2 text-center">Vibration</div>

            <div class="rowspan-2">Description</div>
            <div class="rowspan-2">Created</div>
            <div class="rowspan-2">Modified</div>
            <div class="rowspan-2">Edit</div>

            <!--  Weight & Vibration -->
            <div class="sub-header">pr</div>
            <div class="sub-header">un</div>
            <div class="sub-header">pr</div>
            <div class="sub-header">un</div>
        </div>

        <!-- Data -->
        <th:block th:each="unit:${units}">

            <div th:data-id="${unit.id}"
                 th:attr="onclick=|window.location.href='/station/${station.id}/unit/${unit.id}';|"
                 style="cursor:pointer;"
                 class="unit-row">
                <div th:text="${unit.unitNumber}"></div>
                <div th:text="${unit.unitType}"></div>
                <div th:text="${unit.weightPrecision}"></div>
                <div th:text="${unit.weightUnitMeasure}"></div>
                <div th:text="${unit.vibrationPrecision}"></div>
                <div th:text="${unit.vibrationUnitMeasure}"></div>
                <div th:text="${unit.description}"></div>
                <div th:text="${#temporals.format(unit.createdOn, 'dd.MM.yyyy')}"></div>
                <div th:text="${#temporals.format(unit.updatedOn, 'dd.MM.yyyy')}"></div>
                <div>
                    <button th:onclick="|event.stopPropagation(); show(this);|">Edit</button>
                </div>
            </div>

            <!-- Edit row -->
            <div class="unit-row edit-row">
                <div>
                    <input type="number" min="0" max="999" th:value="${unit.unitNumber}">
                </div>
                <div>
                    <input type="text" th:value="${unit.unitType}">
                </div>
                <div>
                    <select th:value="${unit.weightPrecision}">
                        <option th:each="i : ${#numbers.sequence(0,5)}" th:value="${i}" th:text="${i}">
                        </option>
                    </select>
                </div>
                <div>
                    <select th:value="${unit.weightUnitMeasure}">
                        <option value="kg" th:selected="${unit.weightUnitMeasure == 'kg'}">kg</option>
                        <option value="g" th:selected="${unit.weightUnitMeasure == 'g'}">g</option>
                        <option value="mg" th:selected="${unit.weightUnitMeasure == 'mg'}">mg</option>
                    </select>
                </div>

                <div>
                    <select th:value="${unit.vibrationPrecision}">
                        <option th:each="i : ${#numbers.sequence(0,5)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </div>
                <div>
                    <select th:value="${unit.vibrationUnitMeasure}">
                        <option value="um" th:selected="${unit.vibrationUnitMeasure == 'um'}">um</option>
                        <option value="mm/s" th:selected="${unit.vibrationUnitMeasure == 'mm/s'}">mm/s</option>
                        <option value="m/s2" th:selected="${unit.vibrationUnitMeasure == 'm/s2'}">m/s2</option>
                    </select>
                </div>
                <div>
                    <input type="text" th:value="${unit.description}">
                </div>
                <div class="actions-cell">
                    <button onclick="update(this)">Save</button>
                    <button onclick="cancel(this)">Cancel</button>
                    <button onclick="remove(this)">Delete</button>
                </div>
            </div>

        </th:block>

        <!-- New unit row -->
        <div class="unit-row new-row">
            <div>
                <input id="unitNumber" type="number" min="1" max="999" placeholder="1">
            </div>
            <div>
                <input id="unitType" type="text" placeholder="Unit type">
            </div>
            <div>
                <select id="weightPrecision">
                    <option>0</option>
                    <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>
            <div>
                <select id="weightUnitMeasure">
                    <option value="kg">kg</option>
                    <option value="g">g</option>
                    <option value="mg">mg</option>
                </select>
            </div>
            <div>
                <select id="vibrationPrecision">
                    <option>0</option>
                    <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>
            <div>
                <select id="vibrationUnitMeasure">
                    <option value="um">um</option>
                    <option value="mm/s">mm/s</option>
                    <option value="m/s2">m/s2</option>
                </select>
            </div>
            <div>
                <input id="description" type="text" placeholder="Description">
            </div>
            <div class="actions-cell">
                <button onclick="create()">Add</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
