<!DOCTYPE html>
<html>
<head>
    <title>User profile</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/tables.css"/>
    <style>.edit-row {display: none;}</style>
    <script src="/js/editrecordrow.js"></script>
</head>
<body>
<h1>User Profile</h1>
<div>
    <p><strong>Username:</strong> <span th:text="${user.username}">Username</span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}">Email</span></p>
    <!-- Add more user details as needed -->
</div>
</body>
</html>