h1 {
  font-family: Tahoma, Geneva, sans-serif;
  color: #2e6c80;
  text-align: left;
  padding:0px 20px;

}
h2 {
  font-family: Tahoma, Geneva, sans-serif;
  color: #2e6c80;
  text-align: left;
  padding:0px 20px;
  font-size: 16px;
}
ul {
  font-family: Tahoma, Geneva, sans-serif;
  color: #2e6c80;
  padding:0px 20px;
}

ul li {
  font-family: Tahoma, Geneva, sans-serif;
  color: #2e6c80;
  margin: 10px 20px;
}

div.blueTable {
  font-family: Tahoma, Geneva, sans-serif;
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 550px;
  text-align: center;
  border-collapse: collapse;
  margin: 20px 20px
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 6px 4px;
}

.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
}

.divTable.blueTable .divTableRow:nth-child(even) {
  background: #D0E4F5;
}

.divTable.blueTable .divTableHeading {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: nomal;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}

.divTable.blueTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.blueTable .tableFootStyle {
  font-size: 18px;
}
.blueTable .tableFootStyle .links {
  text-align: right;
}
.blueTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

input[type=text], input[type=number] {
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.decimal{
  inputmode: decimal;
  pattern: "[0-9]*[.,]?[0-9]*"
}